* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'arial';
}

.skills {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.skill {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 150px;
    margin: 20px auto;
}

.skills div img {
    max-width: 40%;
    margin: auto;
    display: block;
}

.skills .skill p {
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 400px) {
    .skills {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}



