* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'arial';
}

.container-projects {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
}

.project {
    border: 1px double black;
    margin: 15px;

    display: flex;
    flex-flow: column wrap;
    flex-basis: 20%;
    text-align: center;
}

.project div {
    flex-grow: 1;
}