* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'arial';
}

#footer-portfolio {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    background-image: url('img/giphy.gif');
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
}

#footer-portfolio p {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}




