* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'arial';
}

.container-projects {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
}

.project {
    border: 1px double black;
    margin: 20px auto;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 20%;
    text-align: center;
    align-items: center;
}

.project div {
    flex-grow: 1;
}

span {
    border: 3px solid black;
    background-color: grey;
    opacity: 0.5;
    font-weight: bold;
    width: 20%;
    padding: 5px;
    margin:  5px;
    align-items: center;
    display: table;
}

@media (max-width: 727px){
    .project{
        flex-basis: 100%;
        margin: 15px 0;
    }
}