* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'arial';
}

.container-skills {
    margin: 0 auto;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: flex-start;
}

.skill {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    box-shadow: -5px -5px 10px inset red;
    padding: 15px;
    height: 80px;
    margin: auto auto;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 24px;
    border: 2px outset rgb(129, 128, 128);
    border-radius: 10%;
}


