* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'salma_alfasans';
}

#main-portfolio {
    width: 80%;
    margin: 0 auto;
}

.title-1 {/*todos os h1 da main*/
    text-align: center;
    margin: 40px 0px;
    font-size: 60px;
    font-weight: normal;
}

.section-portfolio { /*seção inteira da main*/
    box-sizing: border-box;
}

.img-about {/*container da imagem e about-me*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-portfolio p { /*todos os paragrafos da main*/
    text-align: justify;
    line-height: 25px;
    font-size: 25px;
    margin-left: 50px;
    color: rgb(83, 83, 83);
    box-sizing: border-box;
}

#my-photo { /*imagem da about-me*/
    height: 350px;
    width: 300px;
    background-size: auto;
    border-radius: 50%;
    border: 1px solid black;
}

.p-about-me-2 {
    margin: 20px 0px;
}

@media (max-width: 600px){
    #my-photo{
        height: 280px;
        width: 260px;
       
    }
}

@media (max-width: 1000px) {
    .img-about {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .about-me {
        margin-top: 20px;
    }
    .section-portfolio p {
        margin-left: 0;
        font-size: 20px;
    }
}