* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'arial';
}

#footer-portfolio {
    background-image: linear-gradient(to top, black, gold);
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    color: white;
    border-top: 5px solid;
    border-image-source: linear-gradient(45deg,transparent 0%,grey 40%, grey 60%,transparent 100%);
    border-image-slice: 1;
}

#footer-portfolio p {
    font-size: 20px;
    text-align: center;
    padding: 40px;
    margin: 20px;
}

    






