* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'arial';
}

body {
    overflow-y: overlay;
    overflow-x: hidden;
}

.header-portfolio {
    background-image: url(img/giphy.gif);
    color:  white;
    text-align: center;
    padding: 20px;
    margin: auto;
}

#title-footer {
    padding-top: 30px;
    font-size: 80px;
    margin: auto;
}

.title-2 {
    margin: auto;
    font-size: 50px;
    padding: 30px;
}

.p-header {
    font-size: 30px;
    margin: auto;
    padding: 30px;
}

.header-socials {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px auto;
}

.img-socials {
    height: 110px;
    width: 110px;
    margin: 20px 0;
}

@media (max-width: 700px){
    #title-footer {
        font-size: 55px;
    }
    .title-2 {
        font-size: 50px;
    }
    .p-header {
        font-size: 25px;
    }

}

@media (max-width: 450px){
    #title-footer {
        font-size: 45px;
    }
    .title-2 {
        font-size: 40px;
    }
    .title-1 {
        font-size: 45px;
    }
    .p-header {
        font-size: 20px;
    }

}