body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'salma_alfasans';
    box-sizing: border-box;
}


body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 20px;
    border: 2px groove #a9a9a9;
}

/* //////////// ESTILIZANDO O PONTEIRO DO MOUSE //////////////// 
* {
    scrollbar-width: thin;
    scrollbar-color: black white;
  }
  
   Works on Chrome, Edge, and Safari 
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 2px solid white;
  }
 ////////////////// FIMM /////////////// */

.title-1 {/*todos os h1 da main*/
    text-align: center;
    margin: 50px 0px;
    font-size: 60px;
    font-weight: normal;
}

.section-portfolio { /*seção inteira da main*/
    box-sizing: border-box;
    
}

.img-about {/*container da imagem e about-me*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}


.about-me p { /*todos os paragrafos da div about-me*/
    text-align: justify;
    line-height: 25px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    margin-left: 50px;

}

#my-photo { /*imagem da about-me*/
    height: 350px;
    width: 350px;   
    margin: auto;
    background-size: auto;
    border-radius: 50px;
    border: 1px solid;
}

@media (max-width: 1000px) {
    .img-about {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .about-me {
        margin-top: 20px;
    }
    .section-portfolio p {
        margin-left: 0;
        font-size: 20px;
    }
}

@media (max-width: 600px){
    #my-photo{
        height: 260px;
        width: 260px;
       
    } 
    .title-1 {
        font-size: 50px;
    }

}